
// Breakpoints
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 767px)";
@tablet:      ~"only screen and (min-width: 768px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

body {
  padding-top: 30px;

  @media @tablet, @desktop, @desktop-xl {
    padding-top: 110px;
  }
}

// Buttons
.btn {
  &.btn-success {
    margin-top: 20px;
  }
}

.form-location {
  .location-controls {
    .row {
      margin-bottom: 15px;
    }
  }
}
@media @tablet, @desktop, @desktop-xl {
  .form-location {
    .location-controls {
      .btn {
        margin-bottom: 0px;
      }
    }
  }
}
