
// Breakpoints
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 767px)";
@tablet:      ~"only screen and (min-width: 768px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

body {
  padding-top: 60px;

  @media @tablet, @desktop, @desktop-xl {
    padding-top: 110px;
  }
}

.inline-form {
  display: inline-block;
}

// Navigation
.navbar.navbar-default .navbar-header button.navbar-toggle {
  border: none;
  padding: 3px 15px;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;

    .icon-bar {
      background-color: @brand-success;
    }

    .button-text {
      color: @brand-success;
    }
  }

  .hamburger-menu {
    display: inline-block;
  }

  .button-text {
    font-size: 19px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
  }
}

// Buttons
.btn {
  &.btn-success {
    margin-top: 20px;
  }
}

.row.management {
  padding-bottom: 20px;
}

// Breadcrumbs
div.breadcrumbs {
  background-color: @gray-lighter;

  .breadcrumb {
    margin-bottom: 0;
  }
}
